/* font used for the title */ 

@font-face {
    font-family: 'norsebold';
    src: url('./odin-font/norse-bold-webfont.woff2') format('woff2'),
         url('./odin-font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*color palette of the webpage*/

:root {
    /*color variables*/
    --main-background : rgb(249,250,251);
    --register-form-background:rgb(255,255,255);
    --button-color:rgb(89,109,72);

    /*padding and margin variables*/

    --main-padding-left:30px;
    
}

/* general styles */ 

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;

}

header{
    width : 33.33%;
    height : 100%;
    background-image: url("./images/background-image.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    width : 66.66%;
}

/*style for the header section*/
.title-container{
    margin-top: 120px;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom:10px ;
}

img[class="logo"]{
    display: inline-block;
    width : 60px;
    height : 80px;

}

img[class="logo"] + span {
    color : white;
    font-size: 65px;
    font-family: "norsebold",sans-serif;
   
}

/*style for the main section*/

main {
    background-color: var(--main-background) ;
    
}

.intro {


   
    width : 100%;
    padding-top : 100px;
   
}


.intro > p {
    font-family: "roboto",sans-serif;
    font-size: 18px;
    width : 80%;
    padding-left : var(--main-padding-left);
    padding-bottom: 30px;
    

    
}

p + p {
    
    font-style: italic;
}

/*style for the form section of the webpage */


h2 {
    font-family: "roboto",sans-serif;
}
label {
    display: block;
    font-family: sans-serif;
    color : rgb(31,41,55);
    font-size: 12px;
    font-weight: 600;
}

input{
    width : 200px;
    padding : 5px 10px;
    font-family: sans-serif;
    outline : none;
    border : solid 1px #eee;
    border-radius: 3px;
}

input:focus{
    border : solid 1px rgb(77,115,223);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(239,239,239);
}

input + span {
    position : relative;
}

input:required + span::before{
    position: absolute;
    content : "*";
    color : red;
    
    font-size: 11px;
    display: inline-block;
    top : -22px;
    left : -10px;
}




.form-inputs{

    background-color: var(--register-form-background);
    font-size: 15px;
    padding-left: var(--main-padding-left);
    box-shadow: 3px 5px 3px rgb(239,239,239);
}

h2:first-child{
    padding-top: 20px;
}

.form-inputs > * {
    padding-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: row;;
    gap : 40px;
    flex-wrap: wrap;
}

/*register button section */ 
.form-submit{
    padding-left: var(--main-padding-left);
}

.form-submit > button{
    margin-top: 20px;
    background-color:var(--button-color) ;
    font-size: 15px;
    color :white; 
    border : none ;
    border-radius : 5px ;
    padding :7px 30px ;
    box-shadow: 3px 5px 3px rgb(0,0,0,0.5);
    margin-bottom: 20px;

   
    
}

.form-submit > button:active {
    
    box-shadow: inset 3px 5px 3px rgb(0,0,0,0.5)

}

.form-submit > p {
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom : 20px;
}

.form-submit a {
    color : var(--button-color);
    text-decoration: none;
}


/*styles for phone */

@media screen and (max-width :480px) {
    body{
        flex-flow: column;
    }

    header{
        width : 100%;
    }

    main {
        width : 100%;
    }

    .label-input,input {
        width : 90%;
    }

    
}